.Cryptocurrency::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-80%, -50%);
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #B95DFE;
  filter: blur(100px);
  opacity: .2;
  z-index: -1;
  pointer-events: none;
}

.Cryptocurrency .container {
    background-image: url('../images/crypto-banner.svg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    
};


@media(max-width: 1400px){
    .Cryptocurrency h2{
        font-size: 2.9rem;
    }
    .Cryptocurrency p{
        font-size: 1.1rem !important;
    }
}


@media(max-width: 1200px){
    .Cryptocurrency .container {
    background-image: none;
};
}


@media (max-width: 768px) {
 .discover-image{
    width: 80%;
    aspect-ratio: 1/1
 }
  
}