
.our-credentials::after {
  content: '';
  position: absolute;
  top: 75%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #B95DFE;
  filter: blur(100px);
  opacity: .2;
  z-index: -1;
  pointer-events: none;
}


.tabs-inside {
    margin: 0;
    z-index: 5;
    border-bottom: none !important;
}

.tabs-inside .nav-link {
    color: white;
    border: none !important;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: 500;

}

.tabs-inside .nav-link.active {
    background-color: transparent !important;
    color: #fff;
    border: none !important;
    z-index: 10;
}

#Blockchain-tab {
    padding-left: 40px;

}

#Blockchain-tab.active {
    padding-left: 100px;
}

#Digital-tab {
    padding-left: 100px;

}

#Digital-tab.active {
    padding-left: 40px;
}



.grid-1-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.d-grid {
    display: grid;
}

.logo-frame {
    position: relative;
    overflow: hidden;
}

.frame-bg {
    z-index: 1;
}

.logo-wrapper {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 0px;
    place-items: center;
    margin-right: 100px;
    margin-top: 100px;

}

.flip-y {
    transform: scaleX(-1);
}


// vector

.start-5{
    left: -10% !important;
}


@media(max-width: 1400px) {

    .tabs-inside .nav-link {
        padding: 12px 0px;
        font-size: 18px;
    }

    .start-5{
        width: 15% !important;
    }

}

@media(max-width: 1200px) {
    .logo-wrapper {
        margin-right: 50px;
    }

    #Blockchain-tab {
        padding-left: 60px;

    }

    #Blockchain-tab.active {
        padding-left: 136px;
    }
    .start-5{
    left: 0% !important;
    width: 20% !important;
    top: 80% !important;
}

}


@media(max-width: 991px) {

    #Blockchain-tab {
        padding-left: 40px;

    }

    #Blockchain-tab.active {
        padding-left: 54px;
    }

    .tabs-inside .nav-link {
        padding: 12px 0px;
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    #Blockchain-tab {
        padding-left: 15px;

    }

    #Blockchain-tab.active {
        padding-left: 35px;
    }

    #Digital-tab {
        padding-left: 84px;

    }

    #Digital-tab.active {
        padding-left: 22px;
    }
}

@media(max-width: 575px) {
    #Blockchain-tab {
        padding-left: 50px;

    }

    #Blockchain-tab.active {
        padding-left: 55px;
    }

    .tabs-inside .nav-link {
        padding: 12px 0px;
        font-size: 14px;
    }
}

@media (min-width: 360px) and (max-width: 500px) {
    #Blockchain-tab {
        padding-left: 20px;
    }

    #Blockchain-tab.active {
        padding-left: 0px;
    }

    .tabs-inside .nav-link {
        padding: 12px 0px;
        font-size: 12px;
    }

    #Digital-tab {
        padding-left: 38px;
    }

    #Digital-tab.active {
        padding-left: 0px;
    }

    .logo-wrapper {
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 40px;
        margin-top: 26px;
        

    }

}